## CollectingDataInteractiveJupyterWidgets_Assignment(B210624)
**Author details:** *Author:* B210623. *Contact details:*snnnnnn@ed.ac.uk. 
**My assessment repository**:
https://github.com/B210624/B210624_Working_with_data_types_and_structures_in_Python_and_R.git

Notebook  and data information: Assignment shows data manipulation with interactive jupyter widgets with the NHS Hospital length of stay (LOS) data (LOS_model) and save it to my working ‘Data’ folder, and finally saving all the captured test data to my ‘RawData’. It consists of string data, numerical data and character data. The data I selected is csv format from the NHSRdatasets package for skills development. This is a artificially generated hospital data with fictional patients at ten fictional hospitals, LOS, Age and Death numbers.

In [2]:
#Load the 'pandas' package, which is an useful for data manipulation.  
import pandas as pd
testData=pd.read_csv("../Data/los.csv")
testData #This section is the process of Creation and Storage.

      ID Organisation  Age  LOS  Death
0      1       Trust1   55    2      0
1      2       Trust2   27    1      0
2      3       Trust3   93   12      0
3      4       Trust4   45    3      1
4      5       Trust5   70   11      0
..   ...          ...  ...  ...    ...
295  296       Trust6   32    6      0
296  297       Trust7   55    6      1
297  298       Trust8   21    3      0
298  299       Trust9   54    1      0
299  300      Trust10   93   15      0

[300 rows x 5 columns]

In [3]:
#Data type: I check the data type in the testData data frame. The dtypes function is imported from the pandas package to know the data types in the testData. The dtypes function returns the data types in the data frame.
result = testData.dtypes
print("Output:")
print(result)# This section is the start of the process of Synthesis.

Output:
ID               int64
Organisation    object
Age              int64
LOS              int64
Death            int64
dtype: object

In [4]:
#Set up an empty data frame in the working data folder to gather the data captured by the Juypter widgets.
#ID:Integer, Organisation: String, Age: Integer, LOS: integer, Consent: Boolean
dfTofill = pd.DataFrame({'ID': [0],'Organisation': ['NA'],'Age': [0], 'LOS': [0], "Consent":[False]})
dfTofill

   ID Organisation  Age  LOS  Consent
0   0           NA    0    0    False

In [5]:
dfTofill.to_csv('../Data/LOS_Data_frame_CollectedData.csv',index=False)#Saved the empty data frame to my Data folder

In [6]:
CollectData=pd.read_csv("../Data/LOS_Data_frame_CollectedData.csv")
CollectData #The empty data frame is now saved to the working ‘Data’ folder. I can read in the empty data frame.

   ID  Organisation  Age  LOS  Consent
0   0           NaN    0    0    False

####  Indexing in Python: Indexing in Python is important to choose the individual data by positioning.

In [7]:
index_number=301 #Remember to change for each record.
dfTofill.iloc[0,0]=index_number
dfTofill

    ID Organisation  Age  LOS  Consent
0  301           NA    0    0    False

In [8]:
#Widgets: I use to create graphical user-frentdly interface like a button, dropdown or textbox. 
import ipywidgets as widgets #Load the 'ipywidgets' package
from IPython.display import display #The IPython.display package is loaded to display different objects in Jupyter.

#### Consent: Consent is a critcal element for data protection compliance. Consent expain the freedom to perticiapate the clinical research for smooth process to get their data. The [General Data Protection Regulation]. Before the reseachers obtain any data, they need to get consent from the patient to process and share the data the researchers will collect with the data capture tool.

In [9]:
# Boolean widgets: Boolean widgets are designed to display a boolean value. This is Checkbox widget
a = widgets.Checkbox(
    value=False,
    description='I consent for the data I have provided to be processed and shared in accordance with data protection regulations with the purpose of improving care service provision across the UK.',
    disabled=False
)
display(a)#Please check the box to claim that I have consent.

Checkbox(value=False, description='I consent for the data I have provided to be processed and shared in accord…

In [11]:
dfTofill.iloc[0,4]=a.value # I added the value in the empty data frame.
dfTofill

    ID Organisation  Age  LOS  Consent
0  301           NA    0    0     True

In [12]:
print(result[1]) #String data type
testData.head(n=1)

object

   ID Organisation  Age  LOS  Death
0   1       Trust1   55    2      0

#### The organisation variable: the organisation variable includes the fictional organisation code. Synthesis start from here.

In [13]:
print(result[2]) #String data type

int64

In [14]:
import numpy as np #Load the 'numpy' package
testData.describe(include='all') #I use the `describe()` function from the *numpy* Python package to calculate summary statistics for the testData data frame. The numpy package is useful for statistical analysis.

                ID Organisation         Age         LOS       Death
count   300.000000          300  300.000000  300.000000  300.000000
unique         NaN           10         NaN         NaN         NaN
top            NaN       Trust1         NaN         NaN         NaN
freq           NaN           30         NaN         NaN         NaN
mean    150.500000          NaN   50.656667    4.936667    0.176667
std      86.746758          NaN   27.876798    3.617958    0.382024
min       1.000000          NaN    5.000000    1.000000    0.000000
25%      75.750000          NaN   24.000000    2.000000    0.000000
50%     150.500000          NaN   54.000000    4.000000    0.000000
75%     225.250000          NaN   75.250000    7.000000    0.000000
max     300.000000          NaN   95.000000   18.000000    1.000000

In [15]:
org=list(testData['Organisation'].unique()) # I used the pandas package `unique()` function to get the unique
org                                         # Organisation codes in the test data.

['Trust1',
 'Trust2',
 'Trust3',
 'Trust4',
 'Trust5',
 'Trust6',
 'Trust7',
 'Trust8',
 'Trust9',
 'Trust10']

In [16]:
testData.head(n=1)# Look at the head of data

   ID Organisation  Age  LOS  Death
0   1       Trust1   55    2      0

#### Selection widgets:Several widgets can be used to display single selection lists. I specify the selectable options by passing a list.

In [17]:
c=widgets.Select(# I made the values to specific vatiables in the empty frame or existing frames.
    options=org,
    rows=len(org),
    description='Organisation:',
    disabled=False)
display(c)

Select(description='Organisation:', options=('Trust1', 'Trust2', 'Trust3', 'Trust4', 'Trust5', 'Trust6', 'Trus…

In [18]:
dfTofill.iloc[0,1]=c.value # I added the value in the empty data frame.
dfTofill

    ID Organisation  Age  LOS  Consent
0  301       Trust1    0    0     True

In [19]:
print(result[1]) # The type variable is String data type

object

In [20]:
type=list(testData['Organisation'].unique())
type #I first use the *pandas* package `unique()` function to get the unique department type in the test data.
testData.head(n=10)

   ID Organisation  Age  LOS  Death
0   1       Trust1   55    2      0
1   2       Trust2   27    1      0
2   3       Trust3   93   12      0
3   4       Trust4   45    3      1
4   5       Trust5   70   11      0
5   6       Trust6   60    7      0
6   7       Trust7   25    4      0
7   8       Trust8   48    4      0
8   9       Trust9   51    7      1
9  10      Trust10   81    1      0

#### The numeric variable includes the number of the length of stay in hospital and and death numbers.

In [21]:
print(result[2])# The type variable is numeric data type
testData.head(n=1)

int64

   ID Organisation  Age  LOS  Death
0   1       Trust1   55    2      0

#### Numeric widgets: Widgets exist for displaying integers and floats, both bounded and unbounded. The integer widgets share a similar naming scheme to their floating point counterparts. By replacing Float with Int in the widget name, you can find the Integer equivalent.

In [22]:
e=widgets.IntText(# I made the values to input specific vatiables in the empty frame or existing frames.
    value=0,
    description='Age:',
    disabled=False)
display(e)

IntText(value=0, description='Age:')

In [23]:
dfTofill.iloc[0,2]=e.value # I added the value in the empty data frame.
dfTofill

    ID Organisation  Age  LOS  Consent
0  301       Trust1   99    0     True

#### The numeric variable of length of stay in hosptal

In [24]:
print(result[3])# The type variable is numeric data type
testData.head(1)

int64

   ID Organisation  Age  LOS  Death
0   1       Trust1   55    2      0

In [25]:
f=widgets.IntText(# I made the values to enter specific vatiables in the empty frame or existing frames.
    value=0,
    description='LOS:',
    disabled=False)
display(f)

IntText(value=0, description='LOS:')

In [26]:
dfTofill.iloc[0,3]=f.value # I added the value in the empty data frame.
dfTofill

    ID Organisation  Age   LOS  Consent
0  301       Trust1   99  1000     True

#### Concatenating the collected data to the CollectData data frame.

In [27]:
# I use the `concat()` function from the pandas package to append CollectData, dfTofill data frames and testData.
CollectData  = pd.concat([CollectData,testData,dfTofill,])# CollectData is the first data frame 
display(CollectData) # The testData is the second frame and dfTofill is the last data frame

      ID Organisation  Age   LOS Consent  Death
0      0          NaN    0     0   False    NaN
0      1       Trust1   55     2     NaN    0.0
1      2       Trust2   27     1     NaN    0.0
2      3       Trust3   93    12     NaN    0.0
3      4       Trust4   45     3     NaN    1.0
..   ...          ...  ...   ...     ...    ...
296  297       Trust7   55     6     NaN    1.0
297  298       Trust8   21     3     NaN    0.0
298  299       Trust9   54     1     NaN    0.0
299  300      Trust10   93    15     NaN    0.0
0    301       Trust1   99  1000    True    NaN

[302 rows x 6 columns]

In [28]:
# I input the extra data of the consent for the test data using iloc () function for data manipuation
CollectData.iloc[1:,4]=a.value
display(CollectData)

      ID Organisation  Age   LOS Consent  Death
0      0          NaN    0     0   False    NaN
0      1       Trust1   55     2    True    0.0
1      2       Trust2   27     1    True    0.0
2      3       Trust3   93    12    True    0.0
3      4       Trust4   45     3    True    1.0
..   ...          ...  ...   ...     ...    ...
296  297       Trust7   55     6    True    1.0
297  298       Trust8   21     3    True    0.0
298  299       Trust9   54     1    True    0.0
299  300      Trust10   93    15    True    0.0
0    301       Trust1   99  1000    True    NaN

[302 rows x 6 columns]

In [29]:
#I consent to process and share the data before I save it to the working data folder.The following line of code, will ensure that you have consent to save data.
CollectData=CollectData[CollectData['Consent'] == True]
display(CollectData)

      ID Organisation  Age   LOS Consent  Death
0      1       Trust1   55     2    True    0.0
1      2       Trust2   27     1    True    0.0
2      3       Trust3   93    12    True    0.0
3      4       Trust4   45     3    True    1.0
4      5       Trust5   70    11    True    0.0
..   ...          ...  ...   ...     ...    ...
296  297       Trust7   55     6    True    1.0
297  298       Trust8   21     3    True    0.0
298  299       Trust9   54     1    True    0.0
299  300      Trust10   93    15    True    0.0
0    301       Trust1   99  1000    True    NaN

[301 rows x 6 columns]

In [30]:
# This end of syhtheis. Saving the data collected by your data-capture tool to the working data folder:
CollectData.to_csv('../Data/LOS_python_CollectedData.csv', index=False)
# I saved my collected data frame saved to the working ‘Data’ folder to repeat data amanipulation via the Notebook until the end of data collection and interactions and then save the captured test data to my ‘RawData’ folder.
CollectData.to_csv('../RawData/LOS_python_CollectedDataFinal.csv', index=False)#Thank you very much for reading my assingment and marking.