# Title: Assignment: Source code for data capture tool and data dictionary_NHS Hospital length of stay data (B210624)
**Author details:** *Author:* B210623. *Contact details:*snnnnnn@ed.ac.uk. 
**My assessment repository**:
https://github.com/B111333/B111333WorkingWithDataTypesAndStructuresInPythonandR_Assessment.git

**Notebook and data information:** This Notebook shows assignment using interactive jupyter widgets and to gather the NHS Hospital length of stay (LOS) data (LOS_model) data (my test data) and save it to my working ‘Data’ folder, and finally saving all the captured test data to my ‘RawData’. Data: Data consists of string data, numerical data and character data from NHSRdatasets package.  
**Data:** Data consists of order variable, numerical data and character data from NHSRdatasets package. 
**Copyright statement:** This Notebook is the product of The University of Edinburgh.

# Data
The data I managed on this assignment are from the NHSRdatasets package. This package has been made to support skills development in the NHS-R community and contains several free datasets. The dataset set I have selected to manage from the NHSRdatasets package is the NHS Hospital length of stay (LOS) data (LOS_model). This is a artificially generated hospital data with fictional patients at ten fictional hospitals, LOS, Age and Death numbers. Data were generated for learning generalized Linear models (GLM) concepts, modeling either death or LOS. I previously selected a subset of the variables needed for my data capture tool, including ID numbers, length of stay in hospital and patient age. For this assignment, we present the full NHS Hospital length of stay (LOS) dataset to demonstrate how to make dictionary using interactive Jupyter-widgets from the ipywidgets package to collect all data types from the NHS Hospital length of stay (LOS) dataset. The R script “./RScripts/LoadingNHSRdatasets_fulldata.R” was used to subset the full NHS Hospital length of stay (LOS) dataset into test and training data.

### The *pandas* package
To import the data, I load the pandas package. The Python pandas package is an useful tool for data manipulation and analysis.

In [1]:
#Load the 'pandas' package
import pandas as pd
testData=pd.read_csv("../Data/los_perfom-Copy1.csv")
testData

FileNotFoundError: [Errno 2] No such file or directory: '../Data/los_perfom-Copy1.csv'

#### Data type
Now I check the data type in the testData data frame. I used the dtypes function from the Python pandas package to know the data types in the testData. The dtypes function returns the data types in the data frame.

In [53]:
result = testData.dtypes
print("Output:")
print(result)

Output:
ID               int64
Organisation    object
Age              int64
LOS              int64
Death            int64
dtype: object

The data type object is a string

I set up an empty data frame in the working data folder to gather the data captured by the Juypter widgets.

In [54]:
dfTofill = pd.DataFrame({'index': [0],# Integer
                   'Organization': ['NA'], # String
                   'Age': [0], # Integer
                   'LOS': [0], # Integer
                    "Consent":[False]}) # Integer 

dfTofill

   index Organization  Age  LOS  Consent
0      0           NA    0    0    False

I save the empty data frameto my working 'Data' folder:

In [56]:
dfTofill.to_csv('../Data/LOS_CollectedData.csv', index=False)

The empty data frame is now saved to the working ‘Data’ folder. Now I can read in the empty data frame to collect the data from the Jupyter-widgets.

In [57]:
CollectData=pd.read_csv("../Data/LOS_CollectedData.csv")
CollectData

   index  Organization  Age  LOS  Consent
0      0           NaN    0    0    False

Now I collected the first row of data from the test data. I used the df.head() function to see the first row in the data frame(df).

##### The `head()` function
The head() function The head() function is valuable to have a look at the top rows of a data frame. I specified the number of rows. I want to see in a data frame with the argument “n”. For example, look at the first row (n=1) of the test data:

In [6]:
testData.head(n=1)

   ID Organisation  Age  LOS  Death
0   1       Trust1   55    2      0

# Index variable 
Usually, the first variable should contains the index number, that allows us to connect the test data to the orginal data set “../RawData/los.csv”. However, the datasets originally contain the ID number from 1 to 300. At this time, I do not use indexing to to add the index number to the ‘dfTofill’ file

###  Indexing in Python
Indexing in Python is a way to refer the individual items by its position. In other words, you can directly access your elements of choice. In Python, objects are “zero-indexed” meaning the position count starts at zero.

In [60]:
index_number=1155 #Remember to change for each record.
dfTofill.iloc[0,0]=index_number
dfTofill

   index Organization   Age  LOS  Consent
0   1155         1155  1155    0    False

# Widgets
I use Widgets to create graphical user-frentdly interface like a button, dropdown or textbox. Widgets is valuable to gather the user input and see the influence the changes on the data and results without interacting with your code. Widgets is also nice tool for showcasing your data story.

To use the widget framework, I import the *ipywidgets* Python package. The *ipywidgets* package provides a list of widgets commonly used in web apps and dashboards like dropdown, checkbox, radio buttons and others.

In [8]:
#Load the 'ipywidgets' package
import ipywidgets as widgets

### `display()`

The *IPython.display* package is used to display different objects in Jupyter. 
You can also explicitly display a widget using the `display()` function from the *IPython.display* package

In [9]:
#Load the 'IPython.display' package
from IPython.display import display

# Consent
Consent is a vital area for data protection compliance. Consent means giving data subjects genuine choice and control over how you process their data. If the data subject has no real choice, consent is not freely given, and it will be invalid. The [General Data Protection Regulation](https://eu01.alma.exlibrisgroup.com/leganto/public/44UOE_INST/citation/37632538310002466?auth=SAML) sets a high standard for consent and contains significantly more detail than previous data protection legislation. Consent is defined in Article 4 as: “Consent of the data subject means any freely given, specific informed and unambiguous indication of the data subject’s wishes by which he or she, by a statement or by a clear affirmative action, signifies agreement to the processing of personal data relating to him or her”.

Before we collect any data, we need to get consent from the end-user to process and share the data we will collect with the data capture tool.

## Boolean widgets
Boolean widgets are designed to display a boolean value.

### Checkbox widget

In [10]:
a = widgets.Checkbox(
    value=False,
    description='I consent for the data I have provided to be processed and shared in accordance with data protection regulations with the purpose of improving care service provision across the UK.',
    disabled=False
)
display(a)

Checkbox(value=False, description='I consent for the data I have provided to be processed and shared in accord…

In [12]:
dfTofill.iloc[0,2]=a.value
dfTofill

   index Organization    Age  LOS  Consent
0      0           NA  False    0    False

# The period variable  
The period variable includes the month this activity relates to, stored as a date (1st of each month).  

#### Data type
We now need to check the data type in the testData data frame. Let us use the `dtypes` function from the Python *pandas* package to query the data types in the testData. The `dtypes` function returns the data types in the data frame.

In [13]:
print(result[1])
#String data type

object

The data type object is a string.

##### The `head()` function
The `head()` function lets you look at the top n rows of a data frame. By default, it shows the first six rows in a data frame. We can specify the number of rows we want to see in a data frame with the argument “n”. For example, look at the first row (n=1) of the test data:

In [14]:
testData.head(n=1)

   ID Organisation  Age  LOS  Death
0   1       Trust1   55    2      0

### DatePicker widget 
We next need to set up a DatePicker widget to collect the period data.

In [15]:
b = widgets.DatePicker(
    description='Period',
    disabled=False
)
display(b)

DatePicker(value=None, description='Period')

In [16]:
dfTofill.iloc[0,1]=b.value
dfTofill

   index Organization    Age  LOS  Consent
0      0         None  False    0    False

## The org_code variable
The org_code variable includes the Organisation data service (ODS) code for the organisation. The ODS code is a unique code created by the Organisation data service within [NHS Digital](_https://www.digitalsocialcare.co.uk/latest-guidance/how-to-find-your-ods-code/), and used to identify organisations across health and social care. ODS codes are required in order to gain access to national systems like NHSmail and the Data Security and Protection Toolkit. If you want to know the organisation associated with a particular ODS code, you can look it up from the following address: <https://odsportal.digital.nhs.uk/Organisation/Search>. For example, the organisation associated with the ODS code 'AF003' is
[Parkway health centre](https://odsportal.digital.nhs.uk/Organisation/OrganisationDetails?organisationId=132839&showOpenChildredOnly=True).

#### Data type
We now need to check the data type in the testData data frame. Let us use the `dtypes` function from the Python *pandas* package to query the data types in the testData. The `dtypes` function returns the data types in the data frame.

In [17]:
print(result[2])
#String data type

int64

The data type object is a string.

#### Describe the test data
Here we are going to use the `describe()` function from the *numpy* Python package to calculate summary statistics for the testData data frame. The numpy package is the core package for scientific computing in Python. The `describe()` function from the *numpy* package computes the descriptive statistics.

In [18]:
#Load the 'numpy' package
import numpy as np
testData.describe(include='all')

                ID Organisation         Age         LOS       Death
count   300.000000          300  300.000000  300.000000  300.000000
unique         NaN           10         NaN         NaN         NaN
top            NaN       Trust1         NaN         NaN         NaN
freq           NaN           30         NaN         NaN         NaN
mean    150.500000          NaN   50.656667    4.936667    0.176667
std      86.746758          NaN   27.876798    3.617958    0.382024
min       1.000000          NaN    5.000000    1.000000    0.000000
25%      75.750000          NaN   24.000000    2.000000    0.000000
50%     150.500000          NaN   54.000000    4.000000    0.000000
75%     225.250000          NaN   75.250000    7.000000    0.000000
max     300.000000          NaN   95.000000   18.000000    1.000000

#### Applying *pandas* `unique()` function
We must first use the *pandas* package `unique()` function to get the unique Organisation data service (ODS) codes in the test data.

In [19]:
org=list(testData['Organisation'].unique())
org

['Trust1',
 'Trust2',
 'Trust3',
 'Trust4',
 'Trust5',
 'Trust6',
 'Trust7',
 'Trust8',
 'Trust9',
 'Trust10']

##### The `head()` function
The `head()` function lets you look at the top n rows of a data frame. By default, it shows the first six rows in a data frame. We can specify the number of rows we want to see in a data frame with the argument “n”. For example, look at the first row (n=1) of the test data:

In [20]:
testData.head(n=1)

   ID Organisation  Age  LOS  Death
0   1       Trust1   55    2      0

## Selection widgets
Several widgets can be used to display single selection lists. You can specify the selectable options by passing a list.

In [25]:
c=widgets.Select(
    options=Organisation,
    value='Trust8',
    rows=len(Organisation),
    description='Organisation:',
    disabled=False
)
display(c)

NameError: name 'Organisation' is not defined

In [26]:
dfTofill.iloc[0,2]=c.value
dfTofill

NameError: name 'c' is not defined

## The type variable
The type variable contains the department type for this activity, either  
* **1:** Emergency departments are a consultant-led 24-hour service with full resuscitation facilities and designated accommodation for the reception of accident and emergency patients,  
* **2:** Consultant-led mono speciality accident and emergency service (e.g. ophthalmology, dental) with designated accommodation for the reception of patients, or  
* **other:** Other type of A&E/minor injury activity with designated accommodation for the reception of accident and emergency patients. The department may be doctor-led or nurse-led and treats at least minor injuries and illnesses and can be routinely accessed without an appointment. A service mainly or entirely appointment-based (for example, a GP Practice or Outpatient clinic) is excluded even though it may treat a number of patients with minor illnesses or injury. Excludes NHS walk-in centres.[(National Health Service, 2020)](https://eu01.alma.exlibrisgroup.com/leganto/public/44UOE_INST/citation/37459630310002466?auth=SAML)

#### Data type
We now need to check the data type in the testData data frame. Let us use the `dtypes` function from the Python *pandas* package to query the data types in the testData. The `dtypes` function returns the data types in the data frame.

In [27]:
print(result[3])
#String data type

int64

The data type object is a string.

#### Applying *pandas* `unique()` function
We must first use the *pandas* package `unique()` function to get the unique department type in the test data.

In [28]:
type=list(testData['LOS'].unique())
type

[2, 1, 12, 3, 11, 7, 4, 9, 5, 10, 14, 8, 6, 15, 18, 13]

##### The `head()` function
The `head()` function lets you look at the top n rows of a data frame. By default, it shows the first six rows in a data frame. We can specify the number of rows we want to see in a data frame with the argument “n”. For example, look at the first row (n=1) of the test data:

In [29]:
testData.head(n=1)

   ID Organisation  Age  LOS  Death
0   1       Trust1   55    2      0

### RadioButtons

In [30]:
d=widgets.RadioButtons(
    options=type,
#     value='other',
    description='Type:',
    disabled=False
)
display(d)

RadioButtons(description='Type:', options=(2, 1, 12, 3, 11, 7, 4, 9, 5, 10, 14, 8, 6, 15, 18, 13), value=2)

In [31]:
dfTofill.iloc[0,3]=d.value
dfTofill

   index Organization    Age  LOS  Consent
0      0         None  False    2    False

# The attendances variable
The attendances variable includes the number of attendances for this department type at this organisation for this month.

#### Data type
We now need to check the data type in the testData data frame. Let us use the `dtypes` function from the Python *pandas* package to query the data types in the testData. The `dtypes` function returns the data types in the data frame.

In [32]:
print(result[4])

int64

##### The `head()` function
The `head()` function lets you look at the top n rows of a data frame. By default, it shows the first six rows in a data frame. We can specify the number of rows we want to see in a data frame with the argument “n”. For example, look at the first row (n=1) of the test data:

In [33]:
testData.head(n=1)

   ID Organisation  Age  LOS  Death
0   1       Trust1   55    2      0

## Numeric widgets
There are many widgets distributed with ipywidgets that are designed to display numeric values. Widgets exist for displaying integers and floats, both bounded and unbounded. The integer widgets share a similar naming scheme to their floating point counterparts. By replacing Float with Int in the widget name, you can find the Integer equivalent.

### IntText

In [34]:
e=widgets.IntText(
    value=0,
    description='Death:',
    disabled=False)
display(e)

IntText(value=0, description='Death:')

In [35]:
dfTofill.iloc[0,4]=e.value
dfTofill

   index Organization    Age  LOS Consent
0      0         None  False    2       0

# The breaches variable
The breaches variable includes the number of attendances that breached the four hour target.

#### Data type
We now need to check the data type in the testData data frame. Let us use the `dtypes` function from the Python *pandas* package to query the data types in the testData. The `dtypes` function returns the data types in the data frame.

In [36]:
print(result[4])

int64

In [37]:
testData.head(1)

   ID Organisation  Age  LOS  Death
0   1       Trust1   55    2      0

### IntText

In [38]:
f=widgets.IntText(
    value=0,
    description='Age:',
    disabled=False)
display(f)

IntText(value=0, description='Age:')

In [39]:
dfTofill.iloc[0,2]=f.value
dfTofill

   index Organization Age  LOS Consent
0      0         None   0    2       0

#### The admissions variable
The admissions variable includes the number of attendances that resulted in an admission to the hospital.[(Chris Mainey, 2021)](https://eu01.alma.exlibrisgroup.com/leganto/public/44UOE_INST/citation/37444097490002466?auth=SAML)

#### Data type
We now need to check the data type in the testData data frame. Let us use the `dtypes` function from the Python *pandas* package to query the data types in the testData. The `dtypes` function returns the data types in the data frame.

In [40]:
print(result[3])

int64

It is an integer variable.

##### The `head()` function
The `head()` function lets you look at the top n rows of a data frame. By default, it shows the first six rows in a data frame. We can specify the number of rows we want to see in a data frame with the argument “n”. For example, look at the first row (n=1) of the test data:

In [41]:
testData.head(n=1)

   ID Organisation  Age  LOS  Death
0   1       Trust1   55    2      0

### IntText

In [42]:
g=widgets.IntText(
    value=0,
    description='ID:',
    disabled=False)
display(g)

IntText(value=0, description='ID:')

In [43]:
dfTofill.iloc[0,0]=g.value
dfTofill

   index Organization Age  LOS Consent
0      0         None   0    2       0

# The performance variable
The performance variable was calculated for the whole of England as (1 - breaches)/ attendances.

#### Data type
We now need to check the data type in the testData data frame. Let us use the `dtypes` function from the Python *pandas* package to query the data types in the testData. The `dtypes` function returns the data types in the data frame.

In [44]:
print(result[4])

int64

It is a float variable.

##### The `head()` function
The `head()` function lets you look at the top n rows of a data frame. By default, it shows the first six rows in a data frame. We can specify the number of rows we want to see in a data frame with the argument “n”. For example, look at the first row (n=1) of the test data:

In [45]:
testData.head(n=1)

   ID Organisation  Age  LOS  Death
0   1       Trust1   55    2      0

### FloatText

In [46]:
h=widgets.FloatText(
    value=0.0,
    description='Death:',
    disabled=False
)
display(h)

FloatText(value=0.0, description='Death:')

In [47]:
dfTofill.iloc[0,4]=h.value
dfTofill

   index Organization Age  LOS Consent
0      0         None   0    2     0.0

# Concatenating the collected data to the CollectData data frame.   
Let us use the `concat()` function from the Python *pandas* package to append the CollectData and dfTofill data frames. The concat() function is used to concatenate *pandas* objects.

In [48]:
# CollectData is the first data frame
# dfTofill is the second data frame
CollectData  = pd.concat([CollectData, dfTofill])
display(CollectData)

   index Organization Age  LOS Consent
0      0          NaN   0    0   False
0      0         None   0    2     0.0

## Have you consent to process and share the data before you save it to the working data folder?

Before we save our data to file, we must make sure we have consent to do so. The following line of code, will ensure that you have consent to save data.

In [49]:
CollectData=CollectData[CollectData['Consent'] == True]
display(CollectData)

Empty DataFrame
Columns: [index, Organization, Age, LOS, Consent]
Index: []

### Saving the CollectData data frame
Saving the data collected by your data-capture tool to the working data folder:

In [50]:
CollectData.to_csv('../Data/ModifiedCollectedData.csv', index=False)

I saved my collected data frame saved to the working ‘Data’ folder. to repeat data amanipulation via the Notebook until the end of data collection and interactions and then save the captured test data to my ‘RawData’ folder.

In [51]:
CollectData.to_csv('../RawData/ModsifiedCollectedDataFinal.csv', index=False)

That is my latest collected data data frame saved to the ‘RawData’ folder.
Thank you very much for reading my assignment. Hopefully my understanding is good for the assignment and data management at this time. I really appreciate your marking.