## CollectingDataUsingInteractiveJupyterWidgetsWithEndUserReactiveForm
## Decrivetive_Report(B210624)
**Author details:** *Author:* B210623. *Contact details:*snnnnnn@ed.ac.uk. 
**My assessment repository**:
https://github.com/B210624/B210624_Working_with_data_types_and_structures_in_Python_and_R.git

Notebook  and data information: Assignment shows data manipulation with interactive jupyter widgets with the NHS Hospital length of stay (LOS) data (LOS_model) and save it to my working ‘Data’ folder, and finally saving all the captured test data to my ‘RawData’. It consists of string data, numerical data and character data. The data I selected is csv format from the NHSRdatasets package for skills development. This is a artificially generated hospital data with fictional patients at ten fictional hospitals, LOS, Age and Death numbers.

In [2]:
#Load the 'pandas' package, which is an useful for data manipulation.  
import pandas as pd
testData=pd.read_csv("../Data/LOS_test.csv")
testData #This section is the process of Creation and Storage.

     ID Organisation  Age  LOS
0    56       Trust6   11    1
1    72       Trust2   79    6
2    76       Trust6   66    7
3    85       Trust5   90   12
4   147       Trust7   38    3
5   162       Trust2   17    2
6   202       Trust2   69    6
7   204       Trust4   27    2
8   252       Trust2   90    4
9   275       Trust5   44    6
10  298       Trust8   21    3

In [3]:
#Data type: I check the data type in the testData data frame. The dtypes function is imported from the pandas package to know the data types in the testData. The dtypes function returns the data types in the data frame.
result = testData.dtypes
print("Output:")
print(result)# This section is the start of the process of Synthesis.

Output:
ID               int64
Organisation    object
Age              int64
LOS              int64
dtype: object

In [4]:
#Set up an empty data frame in the working data folder to gather the data captured by the Juypter widgets.
#ID:Integer, Organisation: String, Age: Integer, LOS: integer, Consent: Boolean
dfTofill = pd.DataFrame({'ID': [0],'Organisation': ['NA'],'Age': [0], 'LOS': [0], "Consent":[False]})
dfTofill

   ID Organisation  Age  LOS  Consent
0   0           NA    0    0    False

In [5]:
dfTofill.to_csv('../Data/LOS_Data_frame_CollectedData.csv',index=False)#Saved the empty data frame to my Data folder

In [6]:
CollectData=pd.read_csv("../Data/LOS_Data_frame_CollectedData.csv")
CollectData #The empty data frame is now saved to the working ‘Data’ folder. I can read in the empty data frame.

   ID  Organisation  Age  LOS  Consent
0   0           NaN    0    0    False

####  Indexing in Python: Indexing in Python is important to choose the individual data by positioning.

In [7]:
index_number=301 #Remember to change for each record.
dfTofill.iloc[0,0]=index_number
dfTofill

    ID Organisation  Age  LOS  Consent
0  301           NA    0    0    False

In [64]:
#Widgets: I use to create graphical user-frentdly interface like a button, dropdown or textbox. 
import ipywidgets as widgets #Load the 'ipywidgets' package
from IPython.display import display #The IPython.display package is loaded to display different objects in Jupyter.

#### Consent: Consent is a critcal element for data protection compliance. Consent expain the freedom to perticiapate the clinical research for smooth process to get their data. The [General Data Protection Regulation]. Before the reseachers obtain any data, they need to get consent from the patient to process and share the data the researchers will collect with the data capture tool.

In [9]:
# Boolean widgets: Boolean widgets are designed to display a boolean value. This is Checkbox widget
a = widgets.Checkbox(
    value=False,
    description='I consent for the data I have provided to be processed and shared in accordance with data protection regulations with the purpose of improving care service provision across the UK.',
    disabled=False
)
display(a)#Please check the box to claim that I have consent.

Checkbox(value=False, description='I consent for the data I have provided to be processed and shared in accord…

In [32]:
dfTofill.iloc[0,4]=a.value # I added the value in the empty data frame.
dfTofill

    ID Organisation  Age  LOS  Consent
0  301       Trust6    0    0     True

In [33]:
print(result[1]) #String data type
testData.head(n=1)

object

   ID Organisation  Age  LOS
0  56       Trust6   11    1

#### The organisation variable: the organisation variable includes the fictional organisation code. Synthesis start from here.

In [34]:
print(result[2]) #String data type

int64

In [35]:
import numpy as np #Load the 'numpy' package
testData.describe(include='all') #I use the `describe()` function from the *numpy* Python package to calculate summary statistics for the testData data frame. The numpy package is useful for statistical analysis.

                ID Organisation        Age        LOS
count    11.000000           11  11.000000  11.000000
unique         NaN            6        NaN        NaN
top            NaN       Trust2        NaN        NaN
freq           NaN            4        NaN        NaN
mean    166.272727          NaN  50.181818   4.727273
std      86.841339          NaN  29.694505   3.133398
min      56.000000          NaN  11.000000   1.000000
25%      80.500000          NaN  24.000000   2.500000
50%     162.000000          NaN  44.000000   4.000000
75%     228.000000          NaN  74.000000   6.000000
max     298.000000          NaN  90.000000  12.000000

In [36]:
org=list(testData['Organisation'].unique()) # I used the pandas package `unique()` function to get the unique
org                                         # Organisation codes in the test data.

['Trust6', 'Trust2', 'Trust5', 'Trust7', 'Trust4', 'Trust8']

In [37]:
testData.head(n=1)# Look at the head of data

   ID Organisation  Age  LOS
0  56       Trust6   11    1

#### Selection widgets:Several widgets can be used to display single selection lists. I specify the selectable options by passing a list.

In [38]:
c=widgets.Select(# I made the values to specific vatiables in the empty frame or existing frames.
    options=org,
    rows=len(org),
    description='Organisation:',
    disabled=False)
display(c)

Select(description='Organisation:', options=('Trust6', 'Trust2', 'Trust5', 'Trust7', 'Trust4', 'Trust8'), rows…

In [39]:
dfTofill.iloc[0,1]=c.value # I added the value in the empty data frame.
dfTofill

    ID Organisation  Age  LOS  Consent
0  301       Trust6    0    0     True

In [40]:
print(result[1]) # The type variable is String data type

object

In [41]:
type=list(testData['Organisation'].unique())
type #I first use the *pandas* package `unique()` function to get the unique department type in the test data.
testData.head(n=10)

    ID Organisation  Age  LOS
0   56       Trust6   11    1
1   72       Trust2   79    6
2   76       Trust6   66    7
3   85       Trust5   90   12
4  147       Trust7   38    3
5  162       Trust2   17    2
6  202       Trust2   69    6
7  204       Trust4   27    2
8  252       Trust2   90    4
9  275       Trust5   44    6

#### The numeric variable includes the number of the length of stay in hospital and and death numbers.

In [42]:
print(result[2])# The type variable is numeric data type
testData.head(n=1)

int64

   ID Organisation  Age  LOS
0  56       Trust6   11    1

#### Numeric widgets: Widgets exist for displaying integers and floats, both bounded and unbounded. The integer widgets share a similar naming scheme to their floating point counterparts. By replacing Float with Int in the widget name, you can find the Integer equivalent.

In [43]:
e=widgets.IntText(# I made the values to input specific vatiables in the empty frame or existing frames.
    value=0,
    description='Age:',
    disabled=False)
display(e)

IntText(value=0, description='Age:')

In [51]:
dfTofill.iloc[0,2]=e.value # I added the value in the empty data frame.
dfTofill

    ID Organisation  Age  LOS  Consent
0  301       Trust6   99    0     True

#### The numeric variable of length of stay in hosptal

In [52]:
print(result[3])# The type variable is numeric data type
testData.head(1)

int64

   ID Organisation  Age  LOS
0  56       Trust6   11    1

In [75]:
f=widgets.IntText(# I made the values to enter specific vatiables in the empty frame or existing frames.
    value=0,
    description='Stay length:',
    disabled=False)
display(f)

IntText(value=0, description='Stay length:')

In [53]:
dfTofill.iloc[0,3]=f.value # I added the value in the empty data frame.
dfTofill

    ID Organisation  Age   LOS  Consent
0  301       Trust6   99  1000     True

#### Concatenating the collected data to the CollectData data frame.

In [58]:
# I use the `concat()` function from the pandas package to append CollectData, dfTofill data frames and testData.
CollectData  = pd.concat([testData,dfTofill,])# CollectData is the first data frame 
display(CollectData) # The testData is the second frame and dfTofill is the last data frame

     ID Organisation  Age   LOS Consent
0    56       Trust6   11     1     NaN
1    72       Trust2   79     6     NaN
2    76       Trust6   66     7     NaN
3    85       Trust5   90    12     NaN
4   147       Trust7   38     3     NaN
5   162       Trust2   17     2     NaN
6   202       Trust2   69     6     NaN
7   204       Trust4   27     2     NaN
8   252       Trust2   90     4     NaN
9   275       Trust5   44     6     NaN
10  298       Trust8   21     3     NaN
0   301       Trust6   99  1000    True

In [82]:
# I input the extra data of the consent for the test data using iloc () function for data manipuation
CollectData.iloc[1:,4]=a.value
display(CollectData)

    ID Organisation  Age   LOS Consent
0  301       Trust6   99  1000    True

In [83]:
#I consent to process and share the data before I save it to the working data folder.The following line of code, will ensure that you have consent to save data.
CollectData=CollectData[CollectData['Consent'] == True]
display(CollectData)

    ID Organisation  Age   LOS Consent
0  301       Trust6   99  1000    True

In [84]:
# This end of syhtheis. Saving the data collected by your data-capture tool to the working data folder:
CollectData.to_csv('../Data/LOS_python_CollectedData.csv', index=False)
# I saved my collected data frame saved to the working ‘Data’ folder to repeat data amanipulation via the Notebook until the end of data collection and interactions and then save the captured test data to my ‘RawData’ folder.
CollectData.to_csv('../RawData/LOS_python_CollectedDataFinal.csv', index=False)#Thank you very much for reading my assingment and marking.

<br>
<br>
<br>

# The user interface for your data collection tool 

In this section, you will provide a little background for my end-user, why your need their data, and what you are going to do with it.
<br>

## The Box widget
The Box widget enables rich reactive layouts in the Jupyter Notebook. It aims at providing an efficient way to lay out, align and distribute space among your widgets in a box. The HBox (Horizontal layout) and VBox (vertical layout) classes above are special cases of the Box widget.

<br>

### Create a reactive form for end-user
Let’s use the VBox widget to create a reactive form for our end-user. The form itself, and each row in the form is a Box widget.

<br>

In [78]:
#form=widgets.VBox([a,b,c,d,e,f,g,h])
form=widgets.HBox([a,c,e,f])

# My commitment to avoiding unnecesarry hospital stay


In Scotland, the length of staying in a hospital should be shorter for patient care [(Healthcare Standard in Scotland)](https://www.gov.scot/policies/healthcare-standards/). The average length of stay in a hospital is 6.2 days [(Statista, 2010-2019, 2021)](https://www.statista.com/statistics/881260/average-length-of-hospital-stay-in-uk/). The shorter period is better for patients since hospital stays are costly and living at home is more comfortable than in medical settings. Moreover, unnecessary visits to hospitals cause a lot of costs for patients. Consequently, patients and their families have financial and mental burdens. The Times reported that patients stay in hospital for 53,000 more days than necessary [(The Time UK, 2022)](https://www.google.co.jp/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&ved=2ahUKEwiyuJrA_df4AhWZRmwGHSqqCw4QFnoECAwQAw&url=https%3A%2F%2Fwww.thetimes.co.uk%2Farticle%2Fpatients-staying-in-hospital-for-53-000-more-days-than-necessary-l2qvlb262&usg=AOvVaw2ZwVxwgQvq4Qc7w5Seqt9h). However, older people tends to be for longer days in medical settings. We should challenge the improvement for those geriatric patients and other aged groups for a shorter stay period in all care areas, including surgery. Our target length is 5.0 days for regular care of all age groups. We should investigate which hospital has the shortest period of stay in the medical setting for public interests.  

To challenge shorter periods of stay on beds in hospitals and provide critical information for the general public, we need your monthly data on organization, length of stay on beds, and age with consent to set as key parameters. We need to explore the relationship between the length and age in each medical setting to achieve the goals. We would be very grateful if you could take one minute each month to share your data with us in the form below:

In [77]:
display(form)

HBox(children=(Checkbox(value=False, description='I consent for the data I have provided to be processed and s…

Thank you for sharing your data, and giving us your consent to process and share it with hospital service management teams across Scotland. We will add your data to our [open data resource](https://github.com/B210624/B210624_Working_with_data_types_and_structures_in_Python_and_R.git) for you to know the outcome by the challenges and imformation of which the hopitals shows shorter stays on beds.